<pre><b>Lazy-Loading:</b> It is way to make website faster. It is used to load a component when it needs not at a one time when user visits. 
Basically it uses then when any component has havvy load and take time to load. So it makes website slow if all components load at a once time.
<b>To check what loads:</b> Inspect browser and go to network. Then you will see a main.js file will be loaded with size.
If we click on sign on login it doest not load or refresh page coz already downloaded at once.
To make About component as a Lazy-Loading go in router path of about.
To check that about is going to lazy-load go in network on home page of appliaction and clear console and then go on about route you see now about loads not initialy.
</pre>